.impl_welcome_text .panel-cus a {
  padding: 11px 0px 11px 70px !important;
}

.menu_pro {
  background-color: rgb(241, 91, 91, 0.3);
  font-size: 16px;
  font-weight: 500;
  padding: 12px 1rem;
  /* width: 10rem; */
}

.img-list {
	display: block;
	width: 100%;
	overflow-x: auto;
}

.img-list ul {
	margin-left: 18px;
}

.img-list ul li {
	padding-bottom:10px;
	display: table;
	width: 120px;
	height: 150px;
	vertical-align: middle;
	float: left;
	margin-right: 10px;
	text-align: center;

}
.img-list ul li a{
	position: relative;
	display: flex;
	width: 100%;
	height: 140px;
	vertical-align: middle;
    border: 1px solid #dcdcdc;
    text-align: center;
}
.img-list ul li a span{
    position: absolute;
    display: inline-block;
    font-size: 20px;
    top: 2px;
    right: 4px;
    cursor: pointer;
    color: red;
    background: #fff;
    border-radius: 50%;
    padding: 6px 6px 2px;
}
.img-list ul li a img {
	max-height: 100%;
	max-width:100%
}

.add-img {
	position: relative;
	width: 100px;
	height: 140px;
	border: 1px solid #dcdcdc;
	align-items: center;
	display: table;
	vertical-align: middle;
}

.add-img span {
	display: table-cell;
	vertical-align: middle;
	font-size: 40px;
	text-align: center;
}

.add-img p {
	font-size: 15px;
}

.add-img input[type=file] {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	cursor: pointer;
	width: 100px;
}